@import "../template/mixins";
@import "../template/settings";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,700&display=swap);

// Base
$backgroundPre: rgba(33, 33, 33, 1.00);

// Primary
$mainFont: 'Source Sans Pro', sans-serif;
$mainFontSize: 27px;
$mainColor: rgba(255, 255, 255, 1.00);

$blockMargin: 17px;
$headingMargin: 0 0 $blockMargin 0;

$headingFont: 'Source Sans Pro', sans-serif;
$codeFont: 'Source Code Pro', monospace;

$headingColor: rgba(57, 139, 137, 1.00);
$headingLineHeight: 1.3;
$headingLetterSpacing: normal;

$headingTextTransform: uppercase;

$headingFontWeight: 700;

$headingTextShadow: none;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.00em;
$heading3Size: 1.50em;
$heading5Size: 1.00em;

// Link
$linkColor: rgba(230, 75, 55, 1.00);
$linkColorHover: lighten( $linkColor, 13% );

// Text
$selectionBackgroundColor: rgba(111, 170, 170, 1.00);
$selectionColor: rgba(155, 30, 30, 1.00);

// Generates the presentation
@mixin bodyBackground() {
	background: $backgroundPre;
}



.upc {
  text-transform: uppercase !important;
}



.reveal section img {
  margin: 0 !important;
  padding: 0;

  border: none !important;

  width: auto;
  height: 330px;

  box-shadow: none !important;

  background: none !important;
}

.reveal section img.main {
  margin: auto !important;

  width: 930px !important;
  height: auto !important;
}



.file {
  margin: 0 auto !important;
  padding: 0;

  width: 90%;

  font-size: 15px !important;
  line-height: 1 !important;

  text-align: left;
}



.relax {
  p {
    margin: 0 0 30px 0;
    padding: 15px;

    font-size: 31px; font-weight: 700;
    color: rgba(55, 55, 55, 1.00);

    background: rgba(240, 218, 50, .75);
  }

  .audio_ {
    display: none !important;
  }
}



.person-container {
  display: flex !important;
  flex-flow: column nowrap;

  .person_ {
    display: flex;
    flex-direction: row;
  }

  .person_alternate_ {
    display: flex;
    flex-direction: row-reverse;
  }

  .person {
    margin: 0 30px 0 !important;
    padding: 0;

    width: 225px;
    height: 225px;
  }

  p { display: inline-flex; align-self: center; }

  pre { align-self: center; }
}

section.content-sections {
  p {
    margin-bottom: 2rem;
  }
}


@import "../template/theme";

.reveal .progress span {
  background: rgba(255, 249, 35, 1.00);
}
